.knomikittyAfulljump {
  position: absolute;
  margin-top: 70px;
  margin-left: 15px;
  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Afulljump.png");

  -webkit-animation: Afulljump .8s steps(16) infinite;
          animation: Afulljump .8s steps(16) infinite;
}

@-webkit-keyframes Afulljump {
  from { background-position:    0px; }
  to { background-position: -2176px; }
}

@keyframes Afulljump {
  from { background-position:    0px; }
  to { background-position: -2176px; }
}

.knomikittyAfullroll {
  position: absolute;
  margin-top: 70px;
  margin-left: 15px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Afullroll.png");

  -webkit-animation: Afullroll 1.0s steps(12) infinite;
          animation: Afullroll 1.0s steps(12) infinite;
}

@-webkit-keyframes Afullroll {
  from { background-position:    0px; }
  to { background-position: -1632px; }
}

@keyframes Afullroll {
  from { background-position:    0px; }
  to { background-position: -1632px; }
}

.knomikittyAhalfjump {
  position: absolute;
  margin-top: 70px;
  margin-left:55px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Ahalfjump.png");

  -webkit-animation: Ahalfroll 1.9s steps(16) infinite;
          animation: Ahalfroll 1.9s steps(16) infinite;
}

@-webkit-keyframes Ahalfroll {
  from { background-position:    0px; }
  to { background-position: -2176px; }
}

@keyframes Ahalfroll {
  from { background-position:    0px; }
  to { background-position: -2176px; }
}

.knomikittyAsleepstart {
  position: absolute;
  margin-top: 70px;
  margin-left: 85px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Asleepstart.png");

  -webkit-animation: Asleepstart 2.9s steps(26) infinite;
          animation: Asleepstart 2.9s steps(26) infinite;
}

@-webkit-keyframes Asleepstart {
  from { background-position:    0px; }
  to { background-position: -3536px; }
}

@keyframes Asleepstart {
  from { background-position:    0px; }
  to { background-position: -3536px; }
}

.knomikittyAsleep {
  position: absolute;
  margin-top: 70px;
  margin-left: 115px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Asleep.png");

  -webkit-animation: Asleep 1.9s steps(57) infinite;
          animation: Asleep 1.9s steps(57) infinite;
}

@-webkit-keyframes Asleep {
  from { background-position:    0px; }
  to { background-position: -7752px; }
}

@keyframes Asleep {
  from { background-position:    0px; }
  to { background-position: -7752px; }
}

.knomikittyAblink {
  position: absolute;
  margin-top: 70px;
  margin-left: 150px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Ablink.png");

  -webkit-animation: Ablink .4s steps(5) infinite alternate;
          animation: Ablink .4s steps(5) infinite alternate;
}

@-webkit-keyframes Ablink {
  from { background-position:    0px; }
  to { background-position: -680px; }
}

@keyframes Ablink {
  from { background-position:    0px; }
  to { background-position: -680px; }
}

.knomikittyArollstart {
  position: absolute;
  margin-top: 70px;
  margin-left: 175px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Arollstart.png");

  -webkit-animation: Arollstart .9s steps(2) infinite;
          animation: Arollstart .9s steps(2) infinite;
}

@-webkit-keyframes Arollstart {
  from { background-position:    0px; }
  to { background-position: -272px; }
}

@keyframes Arollstart {
  from { background-position:    0px; }
  to { background-position: -272px; }
}

.knomikittyBfly {
  position: absolute;
  margin-top: 70px;
  margin-left: 200px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Bfly.png");

  -webkit-animation: Bfly 1.3s steps(20) infinite;
          animation: Bfly 1.3s steps(20) infinite;
}

@-webkit-keyframes Bfly {
  from { background-position:    0px; }
  to { background-position: -2720px; }
}

@keyframes Bfly {
  from { background-position:    0px; }
  to { background-position: -2720px; }
}

.knomikittyBfulljump {
  position: absolute;
  margin-top: 70px;
  margin-left: 225px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Bfulljump.png");

  -webkit-animation: Bfulljump .8s steps(16) infinite;
          animation: Bfulljump .8s steps(16) infinite;
}

@-webkit-keyframes Bfulljump {
  from { background-position:    0px; }
  to { background-position: -2176px; }
}

@keyframes Bfulljump {
  from { background-position:    0px; }
  to { background-position: -2176px; }
}

.knomikittyBhalfjump {
  position: absolute;
  margin-top: 100px;
  margin-left: 15px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Bhalfjump.png");

  -webkit-animation: Bhalfjump .9s steps(8) infinite;
          animation: Bhalfjump .9s steps(8) infinite;
}

@-webkit-keyframes Bhalfjump {
  from { background-position:    0px; }
  to { background-position: -1088px; }
}

@keyframes Bhalfjump {
  from { background-position:    0px; }
  to { background-position: -1088px; }
}

.knomikittyBhitball {
  position: absolute;
  margin-top: 100px;
  margin-left: 45px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Bhitball.png");

  -webkit-animation: Bhitball .7s steps(9) infinite;
          animation: Bhitball .7s steps(9) infinite;
}

@-webkit-keyframes Bhitball {
  from { background-position:    0px; }
  to { background-position: -1224px; }
}

@keyframes Bhitball {
  from { background-position:    0px; }
  to { background-position: -1224px; }
}

.knomikittyBsleepstart {
  position: absolute;
  margin-top: 100px;
  margin-left: 85px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Bsleepstart.png");

  -webkit-animation: Bsleepstart 1.7s steps(26) infinite alternate;
          animation: Bsleepstart 1.7s steps(26) infinite alternate;
}

@-webkit-keyframes Bsleepstart {
  from { background-position:    0px; }
  to { background-position: -3536px; }
}

@keyframes Bsleepstart {
  from { background-position:    0px; }
  to { background-position: -3536px; }
}

.knomikittyBsleep {
  position: absolute;
  margin-top: 100px;
  margin-left: 115px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Bsleep.png");

  -webkit-animation: Bsleep 1.9s steps(57) infinite;
          animation: Bsleep 1.9s steps(57) infinite;
}

@-webkit-keyframes Bsleep {
  from { background-position:    0px; }
  to { background-position: -7752px; }
}

@keyframes Bsleep {
  from { background-position:    0px; }
  to { background-position: -7752px; }
}

.knomikittyBblink {
  position: absolute;
  margin-top: 100px;
  margin-left: 145px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Bblink.png");

  -webkit-animation: Bblink .4s steps(5) infinite alternate;
          animation: Bblink .4s steps(5) infinite alternate;
}

@-webkit-keyframes Bblink {
  from { background-position:    0px; }
  to { background-position: -680px; }
}

@keyframes Bblink {
  from { background-position:    0px; }
  to { background-position: -680px; }
}

.knomikittyCblink {
  position: absolute;
  margin-top: 130px;
  margin-left: 145px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Cblink.png");

  -webkit-animation: Bblink .4s steps(5) infinite alternate;
          animation: Bblink .4s steps(5) infinite alternate;
}

@-webkit-keyframes Bblink {
  from { background-position:    0px; }
  to { background-position: -680px; }
}

@keyframes Bblink {
  from { background-position:    0px; }
  to { background-position: -680px; }
}

.knomikittyCappear {
  position: absolute;
  margin-top: 130px;
  margin-left: 185px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Cappear.png");

  -webkit-animation: Cappear 1.3s steps(47) infinite alternate;
          animation: Cappear 1.3s steps(47) infinite alternate ;
}

@-webkit-keyframes Cappear {
  from { background-position:    0px; }
  to { background-position: -6392px; }
}

@keyframes Cappear {
  from { background-position:    0px; }
  to { background-position: -6392px; }
}

.knomikittyCchew {
  position: absolute;
  margin-top: 130px;
  margin-left: 210px;

  width: 136px;
  height: 115px;
  background-repeat: no-repeat;
  background-image: url("../img/Cchew.png");

  -webkit-animation: Cchew .4s steps(15) infinite;
          animation: Cchew .4s steps(15) infinite;
}

@-webkit-keyframes Cchew {
  from { background-position:    0px; }
  to { background-position: -2040px; }
}

@keyframes Cchew {
  from { background-position:    0px; }
  to { background-position: -2040px; }
}